:root {
    --white: #ffffff;
    --black: #000000;
    --blue: #0d6efd;
    --green: #198754;
    --dark-green: #157347;
    --darkest-green: #13653f;
    --gray: #808080;
    --light-gray: #e9ecef;
    --red: #ff0000;
    --dark-red: #8b0000;
    --input-focus: #0d6efd40;
    --green-focus: 60, 153, 110;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ===========
  TYPOGRAPHY
=========== */

h1,
.footer-text {
    color: var(--white);
    margin: 0;
}

h2.subtitle {
    margin-bottom: 0;
}

label,
.result {
    font-size: 1.125rem;
    display: block;
    margin: 0.25em 0;
}

.mo-salary::after {
    content: "\002A";
}

.alert-msg,
.mo-salary::after {
    color: var(--red);
}

.input-prefix {
    font-size: 0.85rem;
    padding: 0.5em;
    background-color: var(--light-gray);
    border: 1px solid var(--gray);
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.submit {
    cursor: pointer;
    color: var(--white);
    font-size: 1rem;
    padding: 0.5em 1em;
    margin-top: 1.15em;
    border: none;
    border-radius: 5px;
    background-color: var(--green);
    transition: all 0.5s ease;
}

.fa-github {
    color: var(--white);
    transition: all 0.5s ease;
}

/* ===========
  LAYOUT
=========== */

.container {
    width: 90%;
    max-width: 500px;
    margin: 0 3rem;
}

.row {
    display: flex;
    margin-bottom: 0.25rem;
}

.d-none {
    display: none;
}

/* 
 * With the body having 100% height and display flex
 * we can use margin top auto in the footer to make it
 * stick to the bottom of the page
 */

html,
body {
    height: 100%;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header,
footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--blue);
}

footer {
    margin-top: auto;
}

.footer-body {
    margin-top: 1rem;
}

.input-group {
    margin-top: 1rem;
}

input[type="text"] {
    font-size: 1rem;
    width: 100%;
    padding: 0.5em;
    border: 1px solid var(--gray);
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: all 0.35s ease;
}

/* ==============
  MEDIA QUERIES
=============== */

@media (max-width: 550px) {
    .container {
        margin: 0 auto;
    }
}

@media (hover: hover) {
    input[type="text"]:focus-visible {
        outline: none;
        box-shadow: 0 0 0 0.25rem var(--input-focus);
    }

    .submit:hover {
        background-color: var(--dark-green);
    }

    .submit:active {
        background-color: var(--darkest-green);
    }

    .submit:focus-visible {
        outline: none;
        box-shadow: 0 0 0 4px rgba(var(--green-focus), 0.5);
    }

    .github-link:focus-visible {
        outline: none;
    }

    .github-link:focus-visible .fa-github {
        scale: 1.15;
        color: var(--dark-red);
    }

    .fa-github:hover {
        scale: 1.25;
        color: var(--black);
    }

    .footer-text:hover .fa-heart {
        color: var(--red);
        animation: beat 0.5s linear forwards infinite alternate;
    }

    @keyframes beat {
        100% {
            transform: scale(1.25);
        }
    }
}
